.logo{
    height: 50%;
}
.info{
    display: flex;
}

:global{
    .ant-layout-header{
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ant-upload.ant-upload-select{
        margin-right: 8px;
    }
}
